<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:label name="about" /></h1>

<div class="frame-content">
  <roundcube:object name="aboutcontent" />
  <h2 class="sysname">ETHMail Webmail (based on Roundcube Webmail)</h2>
  <p class="copyright">
    Copyright © 2019-2021,
    <a target="_blank" href="https://cryptoverse.cc/">Cryptoverse OU</a>
  </p>
  <p><b>This is experimental software.</b></p>
  <p>
    You can contact us at
    <a target="_blank" href="https://community.cryptoverse.cc/"
      >community forum</a
    >
    or at oneof those emails:
    <a target="_blank" href="mailto:xunkulapchvatal@ethmail.cc"
      >xunkulapchvatal@ethmail.cc</a
    >
    <a
      target="_blank"
      href="mailto:0x6Be450972b30891B16c8588DcBc10c8c2aEf04da@ethmail.cc"
      >0x6Be450972b30891B16c8588DcBc10c8c2aEf04da@ethmail.cc</a
    >
  </p>
  <p>
    Issues can be reported
    <a target="_blank" href="https://github.com/CryptoverseCC/ethmail.cc/issues"
      >https://github.com/CryptoverseCC/ethmail.cc/issues</a
    >
  </p>
</div>

<roundcube:include file="includes/footer.html" />
